<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">sneaks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./about">ABOUT
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./buy">BUY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./sell">SELL</a>
            </li>
        </ul>
    </div>
</nav>

<img src="../assets/img/aboutimage.jpg" class="img-fluid" alt="Responsive image" max-width="100%">

<h2>about us</h2>
<div class="container">
    <div class='row'>
        <div class="col-lg-1 col-sm-2"></div>
            <div class="col-lg-10 col-sm-8">
                <p class="about-container" id="about-text">Started in Evanston in 2018, four people came together to create sneaks. sneaks is an online marketplace to bid and buy luxury atheltic shoes. As a seller, you are able to post shoes for others to buy or bid on. Buyers are able to purchase or bid with confidence - Jordans, Nikes, Yeezys and more – now 100% authentic guaranteed. We only offer the best, most luxurious brands of sneakers. <br>
                Thanks for stopping by! We apprecaite your business!</p>
            </div>
        <div class="col-lg-1 col-sm-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-md-8">

    <div class="about-images">
        <img src="../assets/img/chris.png" class="img-fluid" alt="Responsive image" width="200">
        <p class="name">chris hutchinson</p>
    </div>
    <div class="about-images">
        <img src="../assets/img/erica.png" class="img-fluid" alt="Responsive image" width="200">
        <p class="name">erica barraca</p>
    </div>
    <div class="about-images">
        <img src="../assets/img/evan.png" class="img-fluid" alt="Responsive image" width="200">
        <p class="name">evan grillo</p>
    </div>
        <div class="about-images">
            <img src="../assets/img/ozzy.png" class="img-fluid" alt="Responsive image" width="200">
            <p class="name">ozzy cardenas</p>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
