<a href="./">

    <div id="checkout-body">
        <div class="row">

        <div class="col-lg-4"></div>
        <div class="col-lg-4">

        <div class="row" id="check-out-div">
            <div class="col-sm-4"></div>

                <p class="checkout-text">Thank you for shopping with us.</p>
                <hr>
                <!-- <p class="sneaks-logo">sneaks</p> -->
            <!-- <img src="../assets/img/shoeicon.png" class='shoe-icon'> -->
        </div>

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</a>
