
<img id="checkout-img" src="https://i.dmarge.com/2017/02/sneakerwall.jpg" alt="">
    <p class="checkout-text">Thank you for shopping with us.</p>
    <hr>
    <p class="sneaks-logo">sneaks</p>
    <hr>
  
