<a href="./">
<div id="checkout-body">
    <p class="checkout-text">Thank you for shopping with us.</p>
    <hr>
    <p class="sneaks-logo">sneaks</p>
    <hr>
    <img src= url("../img/shoeicon.png">
</div>
</a>
