<div class="body-index">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./">sneaks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./about">ABOUT
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./buy">BUY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./sell">SELL</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tagline-container">
        <p id="tagline">authentic sneakers:
            <br> the new high fashion.</p>

        <div class="button-container">
            <button class="btn" id="browse-button" type="button">BROWSE OUR COLLECTION</button>
        </div>
    </div>
</div>
