body {
    background-color: rgb(230, 221, 221);
    font-family: Verdana, Geneva, sans-serif;
}

#burger-image {
    width: 100%;
}
.jumbotron{
    background-color: rgb(230, 221, 221);
    width: 100%;
}

#jumbotron-text {
    margin-left: 10%;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

#jumbohr{
    width: 60%;
    border: 1px solid black;
}

.panel{
    background-color: rgb(255, 254, 244);
}

.body-text {
    font-family: Verdana, Geneva, sans-serif;
    color: grey;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2%;
    
}

.devourburger{
    font-weight: 400;
    margin-bottom: 4%;
    background-color: #e7e7e7;
}

.delete {
    font-weight: 400;
    margin-bottom: 4%;
    background-color: #e7e7e7;
}

.h2hr{
    width: 20%;
    border: solid 1px rgb(209, 223, 252)
}

.form-group {
    margin-left: 30%;
}

.input-container {
    margin-left:10%;
}

.submit-container{
    margin-right: 10%;
    padding: 10px 5px;
    border-radius: 50%;
}

button:hover{
    background-color: rgb(255, 76, 76);
}

.text{
    color:black;
}

.h2text {
    text-align: center;
    color: black;
}

.submit-text {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

#addburger{
    background-color: rgb(255, 254, 244);
}

ul {
    text-align: center;
}