html, body {
    height: 100%;
}

.body-index {
    background-image: url("../img/index.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Trocchi', serif; THIS IS FOR */
    height: 100%;
}

#body-sell  {
        background-image: url("../img/background.png");
        /* height: 100%; */
        background-repeat: repeat;
        padding-bottom: 100px;
}

#buy-body {
            background-image: url("../img/background.png");
            /* height: 100%; */
            background-repeat: repeat;
}

#nav-bar-container {
    background-color: white !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Trocchi', serif; THIS IS FOR */
}

.navbar{
    background-color: transparent !important;
}

.navbar-toggler {
    background-color: #e6562b
}


.navbar-brand, .modal-title {
    font-family: 'Trocchi', serif;
    color: #00b4ff !important;
    font-size: 38px;
    margin-left: 40px;
}
.nav-link {
    color: #e6562b !important;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
}
#tagline {
    font-family: 'Trocchi', serif;
    color: white;
    font-size: 24px;
    margin-top: 160px;
    margin-left: 60px;
}

.card-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #00b4ff;
}

#sneaker-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #072643;
    font-weight: 700;
    display: inline;
    margin-right: 2%;
}
.card {
    border: 0;
}

#sell-text{
    font-style: italic;
    font-family: 'Trocchi', serif;
    margin: 30px 0px;
    text-align: center;
}

#sneaker-card {
    width: 80%;
    margin-left: 40px;
    border-bottom: 1px solid grey;
}

#sneaker-card-body {
    font-family:'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
}

#bid-button {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    display: inline;
}

#bid-button: hover {
    background-color: #e6562b;
}

#buy-now-button {
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    display: inline;
}


#card-container {
    margin: 60px 0px;

}

.about-images {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 30px;
    width:250px;

}

#about-text {
    padding: 30px;
    text-align: center;
}

.about-container{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.name {
    font-family: 'Trocchi', serif;
    color: #e6562b;
    font-size: 15px;
    margin-top: 20px;
}

h2 {
    font-family: 'Trocchi', serif;
    color: #072643;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#form-container {
    width: 75%;
    margin-top: 30px;
}

.shoe-label  {
    color: #072643;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;

}

.sell-page-button, #modal-button {
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    background-color: white;
    color: #072643;


}

.form-intro {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
}


#buy-button {
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    background-color: Transparent;
    margin-left: 60px;
    padding: 8px;
    width: 70px;
}

#sell-button {
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    background-color: Transparent;
    margin-left: 20px;
    padding: 8px;
    width: 70px;
}

.modal-title {
    font-family: 'Trocchi', serif;
    color: #00b4ff;
    font-size: 29px;
    margin-left: 5px;
}

#bid-modal {
    background-image: url("../img/background.png");
    height: 600px;
}

#shoe-modal-title {
    color: #072643;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px !important;
    font-weight: 700;
}

#current-bid-text  {
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 15px;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
}

#modal-price, #buy-it-now-price {
    font-family: 'Trocchi', serif;
    color: #e6562b;
    font-size: 16px;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
    padding-left: 10px;
}

.modal-body {
    background-image: url("../img/background.png");
}

#checkout-body {
    background-image: url("../img/background.png");
    border-style: solid;
    border-width: 1px;
    border-color: #072643;
    padding: 40px;
}

.sneaks-logo {
    font-family: 'Trocchi', serif;
    color: #e6562b;
    font-size: 18px;
    text-align: center;
}

.checkout-text {
    font-family: 'Trocchi', serif;
    text-align: center;
    color: #072643;
    font-size: 18px;
}

#buy-text {
  display: inline;
  margin-right: 5%;
  word-spacing: 3.5px;
  letter-spacing: .5px;
}

.pipe {
  color: #e6562b;
}

#sneaker-size, #sneaker-size, #current-bid, #buy-now {
  font-family: 'Trocchi', serif;
  color: #e6562b;
  font-size: 16px;
  margin-left: 5px;
  display: inline-block;
  font-weight: 700;
}

#checkout-button {
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #072643;
    font-size: 14px;
}

#browse-button {
    border-style: solid;
    border-width: 1px;
    border-color: #e6562b;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    background-color: Transparent;
    margin-left: 60px;
    padding: 8px;
    width: 220px;
    letter-spacing: 1px;


}
